textarea {
    resize: none;
}

h1{
    text-shadow: 2px 2px 7px #CE5937;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 2em;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
}

h2{
    text-shadow: 2px 2px 7px #CE5937;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 2em;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;

}

#main-header{
    text-shadow: 2px 2px 7px #CE5937;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 3em;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
    background-image: url('https://p0.pxfuel.com/preview/246/734/395/fantasy-dragons-rock-mountains.jpg');
    padding: 2.3em;
    background-size:cover;
    box-shadow: 0 8px 16px 0 #000000;
    border: 2px solid #000000;
}

body{
    background-color: #FCF5E5;
}

#monster-body {
    display: flex;
    width: 55%;
    float:right;
    margin: 10px;
    padding: 10px;
    text-align: center;
    
}
#monster-body img{
    margin-left: auto;
    margin-right: auto;
}

#monster-list {
    display: inline;
    float: left;
    width: 40%;
    height: 50rem;
    overflow:scroll;
    overflow-x: hidden;
}


img {
    width: 50%;
    height: auto;
}

button {
    border: none;
    display: inline-block;
    background-color: #FCF5E5;
    font-size: 16px;
    padding: 5px 5px;
    transition: 0.4s;
}

button:hover {
    box-shadow: 0 8px 16px 0 #CE5937;
    border: 2px solid #CE5937
}

li {
    padding: 2px 2px;
}

ul {
    column-count: 3;
    list-style-type: none;
}

#flex-box {
    display: flex;
}

span{
    margin: 10px;
    padding:10px;
}

#buttons{
    width: 20%;
    display:inline-block;
    padding: 30px;
    margin: 30px;
    margin-top: 80px;
    border: 5px solid #CE5937;
    text-shadow: 2px 2px 7px #CE5937;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 2em;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
    
}