textarea {
    resize: none;
}

h1{
    font-size: 2em;
}

#main-header{
    text-shadow: 2px 2px 7px #CE5937;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 3em;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
}

body{
    background-color: #FCF5E5;
}