textarea {
    resize: none;
}

h1{
    font-size: 2em;
}

#main-header{
    text-shadow: 2px 2px 7px #CE5937;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 3em;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
}

body{
    background-color: #FCF5E5;
}

#monster-body {
    display: flex;
    width: 40%;
    background-color: blue;
    margin: 30px;
    padding: 30px;
    text-align: center;
    
}
#monster-body img{
    margin-left: auto;
    margin-right: auto;
}

#monster-list {
    display: inline-block;
    width: 40%;
}

img {
    width: 50%;
    height: auto;
}

button {
    border: none;
    display: inline-block;
    background-color: #FCF5E5;
    font-size: 16px;
    padding: 5px 5px;
    transition: 0.6s;
}

button:hover {
    box-shadow: 0 8px 16px 0 #CE5937;
    border: 2px solid #CE5937
}

li {
    padding: 2px 2px;
}

ul {
    column-count: 3;
    list-style-type: none;
}

.flex-box {
    display: flex;
}


